*{
    margin:0;
    border:0;
}
@font-face {
    font-family: 'Garam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_04@1.0/Garam.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: #9DB589;
    height: 98vh;
}
#mainFrame{
    position:relative;
    width: 80vw;
    height: 93%;
    margin:2vh 10vw;
    background-color:#F4EAD5;
    border-radius:2%;
    padding-top: 2%;
    z-index:2;
}
#searchMascot{
    position:absolute;
    left:30%;
    top:4%;
    width:5%;
}
#newsName{
    width:30vw;
    height:40px;
    margin:0 auto;
    border-radius: 10px;
    background-color:#CCD6A6;
    color:white;
    font-size:25px;
    text-align: center;
}
#main{
    width:85%;
    height:73.8%;
    background-color: #FFFBE9;
    border-radius: 20px;
    margin-top: 2%;
    margin-left:auto;
    margin-right:auto;
    padding-top:15px;
    overflow:auto;
}
#main::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
#line{
    position:absolute;
    z-index:5;
    bottom:13.5%;
    height: 3px;
    width:80vw;
    margin:0 auto;
    border: 0;
    background: black;
}
#buttonLine{
    position:absolute;
    bottom:0%;
    display: flex;
    background-color:#F5EFD4;
    width:100%;
    height:14%;
    border-radius:0px 0px 20px 20px;
    align-content:center;
    align-items: center;
    justify-content: center;
}
.pageButton{
    width:15%;
    height:70%;
    font-family: 'Garam';
    font-size:35px;
    font-weight:500;
    background-color:#DAE2B6;
    margin:0px 0.1%;
    border-radius:10px;
    cursor: pointer;
}
#currentButton{
    font-weight:600;
    background-color:#DCEC97;
}

@media screen and (max-width:1200px){
    #choose{
        display:none;
    }
}@media screen and (max-height:500px){
    #choose{
        display:none;
    }
}@media screen and (max-width:980px){
    .pageButton{
        font-size:28px;
    }
}@media screen and (max-width:850px){
    .pageButton{
        font-size:20px;
    }
    #searchBox{
        margin-top: 2%;
    }
    .birdExplanation{
        width:90%;
    }
}@media screen and (max-width:600px){
    .pageButton{
        font-size:16px;
    }
    #searchBox{
        margin-top: 2.5%;
    }
    .birdExplanation{
        width:80%;
    }
}@media screen and (max-height:500px){
    #buttonLine{
        display:none;
    }
    #line{
        display:none;
    }
    #main{
        height:85%;
    }
    #search{
        display:none;
    }
    #searchMascot{
        display:none;
    }
}