*{
    margin:0;
    border:0;
}
@font-face {
    font-family: 'Garam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_04@1.0/Garam.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: #9DB589;
    height: 98vh;
}
#mainFrame{
    position:relative;
    width: 80vw;
    height: 93%;
    margin:2vh 10vw;
    background-color:#F4EAD5;
    border-radius:2%;
    padding-top: 2%;
    z-index:2;
}
#searchMascot{
    position:absolute;
    left: 19%;
    top:5%;
    width:5%;
}
#search{
    width:60%;
    height:7%;
    display:flex;
    margin: 0px auto;
    border-radius: 20px;
    background-color: #FFFBE9;
    box-shadow:0px 2px grey;
}
#searchBox{
    width: 85%;
    height: 65%;
    margin-left:5%;
    margin-top: 1%;
}
#searchButton{
    height:70%;
    margin-top: 1%;
    margin-left: 1%;
}
#main{
    width:85%;
    height:71%;
    background-color: #FFFBE9;
    border-radius: 20px;
    margin-top: 1%;
    margin-left:auto;
    margin-right:auto;
    padding-top:30px;
    overflow:auto;
}
#main::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
#searched{
    color:#5EB3E2;
    font-family: 'Jeju Myeongjo', serif;
    font-size:20px;
    margin-bottom:50px;
}
#searched p{
    display:inline;
}
#searchedSciName{
    font-family: 'Jim Nightshade', cursive;
}
.birdInfo{
    width:90%;
    height:120px;
    margin-right:5%;
    margin-left:5%;
    margin-top:20px;
    display:grid;
    grid-template-areas: 
    "pic name"
    "pic explain"
    "pic explain"
    "pic explain";
}
.birdInfo a{
    color:black;
    text-decoration: none;
}
.birdPic{
    width:100px;
    height:100px;
    grid-area:pic;
    margin-right:20px;
}
.birdName{
    grid-area:name;
    height:20px;
    width:50vw;
    margin-bottom:15px;
    font-weight:bold;
    font-size:17px;
}
.birdSciName{
    font-family: 'Jim Nightshade', cursive;
    margin-left:5px;
}
.birdExplanation{
    height:80%;
    width:98%;
    margin-right:100px;
    grid-area:explain;
    overflow-y:hidden;
}
#line{
    position:absolute;
    z-index:5;
    bottom:13.5%;
    height: 3px;
    width:80vw;
    margin:0 auto;
    border: 0;
    background: black;
}
#buttonLine{
    position:absolute;
    bottom:0%;
    display: flex;
    background-color:#F5EFD4;
    width:100%;
    height:90px;
    border-radius:0px 0px 20px 20px;
    align-content:center;
    align-items: center;
    justify-content: center;
}
.pageButton{
    width:15%;
    height:70px;
    font-family: 'Garam';
    font-size:35px;
    font-weight:500;
    background-color:#DAE2B6;
    margin:0px 0.1%;
    border-radius:10px;
    cursor: pointer;
}
#currentButton{
    font-weight:600;
    background-color:#DCEC97;
}
#choose{
    display:flex;
    flex-direction:column;
    position:absolute;
    top:10%;
    right:5%;
    z-index:1;
}
.tab{
    height:10vh;
}
.tabLabel{
    position:absolute;
    right:12%;
    margin-top:10%;
    z-index:999;
    font-size:10px;
    text-align:right;
    font-family:'omyu_pretty';
    font-size: 20px;
    cursor:pointer;
}
#currentTab{
    transform:translateX(15%);
}

@media screen and (max-width:1200px){
    #choose{
        display:none;
    }
}@media screen and (max-height:500px){
    #choose{
        display:none;
    }
}@media screen and (max-width:980px){
    .pageButton{
        font-size:28px;
    }
}@media screen and (max-width:850px){
    .pageButton{
        font-size:20px;
    }
    #searchBox{
        margin-top: 2%;
    }
    .birdExplanation{
        width:90%;
    }
}@media screen and (max-width:600px){
    .pageButton{
        font-size:16px;
    }
    #searchBox{
        margin-top: 2.5%;
    }
    .birdExplanation{
        width:80%;
    }
}@media screen and (max-height:500px){
    #buttonLine{
        display:none;
    }
    #line{
        display:none;
    }
    #main{
        height:85%;
    }
    #search{
        display:none;
    }
    #searchMascot{
        display:none;
    }
}